name: "Continuous Integration"

on: [push, pull_request]

jobs:
  build:
    name: Build captainhook on ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        include:
          - php: 8.0
            buildphar: false
            experimental: false
            ini: error_reporting="E_ALL"
          - php: 8.1
            buildphar: false
            experimental: false
            ini: error_reporting="E_ALL"
          - php: 8.2
            buildphar: true
            experimental: false
            ini: error_reporting="E_ALL"
          - php: 8.3
            buildphar: true
            experimental: false
            ini: error_reporting="E_ALL"
          - php: 8.4
            buildphar: false
            experimental: true
            ini: error_reporting="E_ALL & ~E_DEPRECATED"
    steps:
    - uses: actions/checkout@master

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2
        ini-values: ${{ matrix.ini }}
        extensions: mbstring

    - name: PHP Version
      run: php -v

    - name: Update composer
      run: composer self-update

    - name: Validate composer.json and composer.lock
      run: COMPOSER=composer.demo.json composer validate

    - name: Run test install
      run: COMPOSER=composer.demo.json composer install --no-suggest

